DATA_GO_KR_SERVICE_KEY=
DATA_GO_KR_LEGAL_DISTRICT_API_URL=
DATA_GO_KR_TIMEOUT=

KAKAO_REST_API_KEY=

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=
FRONTEND_OAUTH_CALLBACK_URI=

AI_SERVER_BASE_URL=
AI_SERVER_API_KEY=

AI_EC2_INSTANCE_ID=

ATTACHMENT_S3_BUCKET=
AWS_REGION=

AI_ANALYSIS_CONNECTION_TIMEOUT=
AI_ANALYSIS_READ_TIMEOUT=
AI_HEALTH_CONNECTION_TIMEOUT=
AI_HEALTH_READ_TIMEOUT=

ATTACHMENT_S3_READ_URL_TTL=
