DATA_GO_KR_SERVICE_KEY=

AI_SERVER_BASE_URL=
AI_SERVER_API_KEY=
AI_EC2_INSTANCE_ID=
ATTACHMENT_S3_BUCKET=
AWS_REGION=ap-northeast-2
AI_CONNECTION_TIMEOUT=
AI_ANALYSIS_TIMEOUT=
AI_HEALTH_CONNECTION_TIMEOUT=
AI_HEALTH_READ_TIMEOUT=
